@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body{
  background: #ffffff;
  color: #4ea8c2;
  font-family: gg sans; 
  margin: 0;
  font-size: min(5vw, 1.2em);
  overflow-x: hidden; 
}

/* color: #2b5f6d; (alternate color)*/

#logo{
  width: max(60px, 5vw);
  padding: 0.4rem;
  border-radius: 20%; 
}

header{
  background: #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px; 
  padding-right: 15px; 
  display: flex; 
  color: #ffffff;
  font-family: gg sans; 
  align-items: center;
  top: 0; 
  border-bottom: 1px solid black;
  width: 100%; 
}

nav{
  display: flex;
  justify-content: right; 
  width: 82%; 
}

header > nav > a{
  padding: 3px; 
  display: flex;
  justify-content: center;
  border: 1px solid black; 
  color: #4ea8c2;
  width: 10%; 
  margin-left: 1%; 
}

header > nav > a:hover {
  background-color: #2b5f6d;
  color: #ffffff;
  cursor: pointer;
}

header > h1{
  color: #4ea8c2;
  font-size: min(20vw, 1.6em);
}

h2 {
  border-bottom: 4px solid #878787;
  margin-top: 0px;
  padding-top: 60px;
}

section {
  width: 80%;
  margin: 0 auto 10px auto;
}

footer{
  display: flex; 
  justify-content: center;
  margin-top: 60px; 
}

a{
  color: #4ea8c2;
}

#logo {
  width: 300px;
}
